spring:
  application:
    name: person-service
  datasource:
    url: jdbc:postgresql://postgres:5432/${DATABASE_NAME}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} %m%n"

management:
  endpoints:
    web:
      exposure:
        include: health, info     
  endpoint:
    health:
      show-details: ALWAYS
      probes:
        enabled: true             
  health:
    livenessstate:
      enabled: true               
    readinessstate:
      enabled: true               s
  endpoint:
    health:
      group:
        readiness:
          include: db             
